.env
node_modules/
*.log
data/
.npm-cache/
web/node_modules/
web/dist/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/cursor-anthropic.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
